#container {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.gridItem {
    border: 1px solid black;
    background-color: grey;
    height: 50px;
    width: 50px;
}

.row {
    display: flex;
    justify-content: center;
    flex: auto;
}
